*,
*::after,
*::before {
	box-sizing: border-box;
}

:root {
	font-size: 14px;
	--color-text: #f3eee0;
	--color-bg: #f3eee0;
	--color-link: #000;
	--color-link-hover: #000;
	--page-padding: 1rem;
	--columns: 15;
	--cursor-blend-mode: difference;
	--cursor-radius: 0;
}
.demo {
	--cursor-bg: rgba(246, 233, 197, 0.8);
	--gradient-text-0: #ec1752;
    --gradient-text-1: #ff2f92;
    --gradient-text-2: #1bb3de;
	--gradient-text-3: white;
    --cursor-blend-mode: none;
	background: #f3eee0;
}

body {
	margin: 0;
	color: var(--color-text);
	background-color: var(--color-bg);
	font-family: Futura, "futura-pt", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-size: cover;
	background-position: 50% 50%;
	height: 100vh;
	justify-content: center;
}

/* Page Loader */
.js .loading::before,
.js .loading::after {
	content: '';
	position: fixed;
	z-index: 1000;
}
.js .loading::before {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--color-bg);
}
.js .loading::after {
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px;
	border-radius: 50%;
	opacity: 0.4;
	background: var(--color-link);
	animation: loaderAnim 0.7s linear infinite alternate forwards;

}
@keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.5,0.5,1);
	}
}


a {
	text-decoration: none;
	color: black;
	outline: none;
	cursor: pointer;
}
a:hover {
	color: var(--color-link-hover);
	outline: none;
}
/* Better focus styles from https://developer.mozilla.org/en-US/docs/Web/CSS/:focus-visible */
a:focus {
	/* Provide a fallback style for browsers
	 that don't support :focus-visible */
	outline: none;
	background: lightgrey;
}
a:focus:not(:focus-visible) {
	/* Remove the focus indicator on mouse-focus for browsers
	 that do support :focus-visible */
	background: transparent;
}
a:focus-visible {
	/* Draw a very noticeable focus style for
	 keyboard-focus on browsers that do support
	 :focus-visible */
	outline: 2px solid red;
	background: transparent;
}


.frame {
	margin-left: 50px;
	margin-top: 2px;
	width: 100%;
	padding: var(--page-padding);
	display: grid;
	grid-template-columns: 100%;
	grid-template-areas: 'title' 'prev' 'sponsor' 'demos';
	grid-gap: 0.5rem;
	justify-items: start;
	align-self: start;
	justify-self: start;
	pointer-events: none;
	align-items: center;
	z-index: 999;
}

body #cdawrap {
    justify-self: start;
}

.frame a {
	pointer-events: auto;
}
.frame__demos {
	opacity: 0;
	grid-area: demos;
	display: flex;
	flex-wrap: wrap;
	gap: 2rem;
	z-index: 9999;
	margin-right: 20px;
}
.frame__demos-item:first-child {
	width: 100%;
}
a.frame__demos-item {
	font-weight: bold;
}

.content {
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin:  -105px 10px 10px 10px;
	background: linear-gradient(150deg, black, #141414f9, #141414f9, #353535);
	box-shadow: 0 0 5rem 0 rgba(0, 0, 0, 0.4);
	border-radius: 12px;
	min-height: 680px;
	height: 97vh;
	overflow: hidden;
}

.content h2 {
	font-size: 12vw;
	line-height: 1;
	margin: 0;
	pointer-events: none;
	background-image: linear-gradient(120deg,
	var(--gradient-text-0), var(--gradient-text-1), var(--gradient-text-2), var(--gradient-text-3));
	background-size: 100%;
	background-repeat: repeat;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.content h2 i.p {
	font-style: normal;
	letter-spacing: -1.75vw;
	font-size: 22vw;
}
.content p {
	margin: 3vh 4vh 2vh 6vh;
	max-width: 50ch;
	font-size: 18px;
	pointer-events: none;
	font-family: "greycliff-cf", sans-serif;
	color: #f2f1eb;
}
.content p span{
	font-weight: bold;
}
.content p.footer{
	font-size: 16px;
	font-family: "Snell Roundhand", serif;
}

.cursor {
	height: 100%;
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	pointer-events: none;
	z-index: 99;
	mix-blend-mode: var(--cursor-blend-mode);
	--size: calc(100vw / var(--columns));
}

.cursor__inner {
	display: grid;
	grid-template-columns: repeat(var(--columns), var(--size));
}

.cursor__inner-box {
	width: var(--size);
	height: var(--size);
	background: var(--cursor-bg);
	opacity: 0;
	border-radius: var(--cursor-radius);
}
div.buttons-frame{
	margin: 20px 0 20px 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}
button.film{
	background: linear-gradient(120deg, mediumpurple, #1bb3de, #1bb3de, #1bb3de);
	color: #BBE2EC
}
button.cs{
	background: linear-gradient(120deg, #ec1752, #ec1752, mediumpurple);
	color: #f8c4e3;
}
button{
	margin: 10px 10px 10px 10px;
	font-family: "greycliff-cf", sans-serif;
	font-size: 18px;
	font-weight: bold;
	border: 1px solid #191919;
	border-radius: 30px;
	height: 50px;
	width: 350px;
	transition: background 0.1s ease-in-out;
	padding: 0;
}
button:hover{
	cursor: pointer;
	background: #f6e9c5;
	color: black;
}
@media screen and (min-width: 53em) {
	:root {
		--columns: 30;
		--page-padding: 2rem;
	}
	.frame {
		margin-left: 0;
		margin-bottom: 80px;
		grid-template-columns: auto auto auto 1fr;
		grid-template-areas: 'title prev sponsor demos';
		justify-items: start;
		grid-gap: 2rem;
	}
	.frame__demos {
		justify-self: end;
		opacity: 100%;
		margin-right: 30px;
	}
	.frame__demos-item:first-child {
		width: auto;
	}
	.content {
		align-items: center;
		margin-top: -70px;
	}
	.content{
		margin: -70px 50px 50px 50px;
		height: 84vh;
	}
	.content p {
		font-size: 20px;
	}
}

